apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-springboot-23
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-springboot-23
    app.kubernetes.io/part-of: purple-mermaid-app
  name: java-springboot-23
  namespace: sbudhwar-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/instance: java-springboot-23
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: java-springboot-23
    spec:
      containers:
      - env:
        - name: DEBUG_PORT
          value: "5858"
        - name: A
          value: B
        image: quay.io/redhat-appstudio/user-workload:sbudhwar-1-java-springboot-23
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: "6"
            memory: 770Mi
status: {}
